*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
}
h1{
  display: flex;
    color: rgb(241, 217, 80);
    font-family: cursive;
    background-image: linear-gradient(
      to right,
      rgb(34, 92, 228),
      rgb(0, 0, 92)
    ); 
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height:16%;
}
img{
  width: 30px;
  height: 30px;
}
h2{
  display: flex;
  gap: 10px;
  align-items: center;
}
#container{
  padding-top: 20px;
  height: 84%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  background-color:rgb(13, 115, 198);
  background-size: cover;
}
button{
  cursor: pointer;
  font-size: 70px;
  text-align: center;
  font-weight: bolder;
  width: 130px;
  height: 130px;
  background-color: rgba(1, 162, 248, 0.886);
  border-radius: 10px;
  border: 0px;
}
button:hover{
  background-color: rgba(70, 190, 255, 0.886);
}
span{
  font-size: 40px;
  font-weight: bolder;
}
.pickimg{
  font-size: 80px;
  color:rgb(241, 217, 80);
}
.imgcontainer{
  min-width:30%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
#choice_container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.buttonsContainer{
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(1, 162, 248, 0.886);
  text-align: center;
  font-size: 30px;
  user-select: none;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
}
footer{
  margin-top: 20px;
}
.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-title {
  font-size: 40px;
  font-weight: bold;
}
.btn {
  border-radius: 10px;
  font-size: 30px;
  height: 70px;
  width: 200px;
  background-color: rgba(5, 100, 151, 0.886);
}
.btn-restart {
  padding: 10px 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}

.overlay.active {
  display: block;
}